body {margin-top:20px;}

.panel-default > .panel-heading {
    color: #333333;
    background-color: #ffffff;
    border-color: #e2e9e6;
}

.panel-footer {
    padding: 10px 15px;
    background-color: #ffffff;
    border-top: 1px solid #e2e9e6;
    border-bottom-right-radius: -1;
    border-bottom-left-radius: -1;
}

.user-friend-list img, .media img {
height:50px;
width:50px;
}