@import url('https://fonts.googleapis.com/css?family=Special+Elite');

body {
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
}

.linkto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*flex: 1;*/
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  padding: 5px 20px 5px 20px;
  margin: 10px;
  border-style: none;
  border-radius: 5px;
  background-color: #5E35B1;
}

h1 {
  text-align: center;
  font-weight: 600;
}

.signout {
  padding-right: 20px;
  font-size: 16px;
}

a.navbar-brand.logo {
  font-family: 'Special Elite', cursive;
  font-weight: 600;
  font-size: 25px;
  color: #673AB7;
}

.boxed {
  margin-top: 60px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding-left: 40px;
  border-radius: 5px 5px 0 0;
}

/*h1
  font-family billabong, 'billabongregular'
  text-align center
  font-weight 100
  font-size 13rem
  margin 2rem 0
  letter-spacing -1px
  text-shadow 0px 4px 0 rgba(18, 86, 136, 0.11)*/

.postForm {
  opacity: 1;
  animation: showPostForm ease 0.75s
}

.postForm-NoAnimate {
  opacity: 1
}

.postFormHidden {
  height: 0;
  opacity: 0;
  animation: hidePostForm ease 0.75s
}

@keyframes hidePostForm {
  from {
    height: 220px;
    opacity: 0.4;
  }
}

@keyframes showPostForm {
  from {
    height: 0px;
    opacity: 0;
  }
  to {
    height: 220px;
  }
}

.statBar {
    height: 20px;
    background-color: #c1c1c1;
    margin: 5px;
    border-radius: 5px;
    animation: loadStats cubic-bezier(0.25,0.5,0.5,1.25) 1s;
}

@keyframes loadStats {
    from {
    	width: 0%;
      background-color: #428bca;
    }
    to {
    	width: 100%;
    }
}



.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

offsets = translateX(-50%) translateY(-50%)
.likes-heart {

}
  opacity 0
  transition all 0.5s // time to fade out after its done
  transform offsets scale(5) // this is the "end state"
  display block
  &.like-enter
    transition all .2s
    transform offsets scale(1)
    opacity 1
    &.like-enter-active
      transform offsets scale(5)
  .like-leave-active
    display none





.panel-default > .panel-heading {
    color: #333333;
    background-color: #ffffff;
    border-color: #e2e9e6;
}

.panel-footer {
    padding: 10px 15px;
    background-color: #ffffff;
    border-top: 1px solid #e2e9e6;
    border-bottom-right-radius: -1;
    border-bottom-left-radius: -1;
}

.user-friend-list img, .media img {
  height:50px;
  width:50px;
}
