@import url('https://fonts.googleapis.com/css?family=Special+Elite');

/* * * * *
  LAYOUT
* * * * */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  background-color: #F0F1F3;
  overflow-x: hidden;

}

hr {
  border-top: 1px solid #cecece;
}

.avatar_sml {
  height: 60px;
  width: 60px;
  border: 2px solid #000;
  border-radius: 50%;
}

.boxed {
  margin-top: 80px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding-left: 40px;
  border-radius: 5px 5px 0 0;
  display: block-inline;
}

.center {
  margin: auto;
  margin-right: 250px;
  margin-top: 80px;
  width: 600px;
}

.landing {
  margin: auto;
  margin-right: 200px;
  margin-top: 80px;
}

.padded-box {
  padding-top: 20px;
}

.panel-footer {
  display: flex;
}

.follow-post {
  display: flex;
}
/* * * * *
  TYPOGRAPHY
* * * * */
h1 {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  /*text-shadow 0px 4px 0 rgba(18, 86, 136, 0.11)*/
}

.jumbotron p {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 200;
}

.jumbotron h1 {
  font-size: 50px;
}
.small-title {
  color: #111;
  font-weight: 600;
  padding-bottom: 10px;
  font-size: 15px;
}

.hello {
  margin-top: 2px;
  font-size: 22px;
  color: #111;
  margin-bottom: 0;
}

.public {
  font-size: 23px;
  padding: 10px;
  padding-left: 25px;
  margin: 30px 0;
  color: #fdfdfd;
  border-style: none;
  border-radius: 10px;
  background-color: #8BC34A;
}

/* * * * *
  NAVBAR
* * * * */
.navbar-default .navbar-nav>li>a {
  color: #eee;
  font-size: 14px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: transparent;
}
.customized-nav {
  padding-right: 20px;
  font-size: 15px;
  background-color: #009688;
  color: #fff;
}
a.navbar-brand.logo {
  font-family: 'Special Elite', cursive;
  font-weight: 600;
  font-size: 25px;
  color: #fafafa;
  padding-top: 17px;
}

a.navbar-brand.logo:hover {
  color: #37474F;
  background-color: transparent;
}

a.navbar-brand.logo:active {
  color: #263238;
  background-color: transparent;
}

a.navbar-brand.logo:focus {
  color: #263238;
  background-color: transparent;
}


/* * * * *
  FORMS
* * * * */

.form-control {
  font-size: 12px;
  height: 35px;
}

.form-actions {
  margin: 0;
  background-color: transparent;
  text-align: center;
}

.post-select-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h4 {
  font-size: 15px;
}

/* * * * *
  BUTTONS
* * * * */
.linkto {
  font-size: 19px;
  font-weight: 500;
  color: #fff;
  padding: 10px 20px 10px 20px;
  border-style: none;
  border-radius: 5px;
  background-color: #8E24AA;
}

.signup {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 30px;
  padding-bottom: 10px;
}

.signup-btn {
  background-color: #009688;
}

.demo {
  background-color: #009688;
  margin-left: 25px;
}

.post-btn {
  background-color: #00695C;
  font-size: 13px;
}

.addtag-btn {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #4DB6AC;
  font-size: 12px;
}

#inlineFormInputGroup {
  height: 27px;
  font-size: 12px;
}


/* * * CATEGORY * * */
.category {
  font-size: 13px;
  color: #111;
  margin: 10px 0 0 10px;
  display: inline-block;
  background-color: #d0d0d0;
}

.category:hover {
  color: white;
  text-decoration: none;
  background-color: rgba(156, 39, 176, 0.7);
}


/* * * LABELS * * */
.control-label {
  font-size: 13px;
  font-weight: 500;
}

.label-info {
  background-color: #80CBC4;
  font-size: 11px;
}

.badge {
  background-color: #9C27B0;
  padding: 6px;
}

/* * * * *
  POST
* * * * */
.panel-default {
  border-color: #e2e9e6;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /*align-items: center;*/
}

.match-btn {
  display: inline-block;
  /*align-self: flex-end;*/
  background-color: #7CB342;
  margin-top: -10;
  font-size: 13px;
  float: right;
  font-weight: normal;
  padding: 10px 20px;
}

.right-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.post-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.post-username {
  display: flex;
  font-size: 14px;
  padding-top: 10px;
}

.post-title {
  padding-left: 20px;
}

.match-text {
  display: flex;
  font-size: 16px;
  align-self: center;
}

.media-body {

}


.post-text {
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1.5;
  padding-left: 20px;
}

.meta {
  padding: 0;
  padding-top: 5px;
}

/* * * * *
  STAR ANIMATION
* * * * */

.star-row-container {
  display: flex;
  align-items: center;
  flex-grow: 4
  /*flex-direction: column;*/
}


.star-container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  background-color: #E0E0E0;
  color: #111;
  padding-bottom: 10px;
  padding-top: 10px;
}
.starred {
  background-color: #26A69A;
  color: #eee;
}

.stars-count {
  font-family: 'Open Sans';
  font-size: 13px;
  display: flex;
  padding-left: 15px;
  margin-bottom: 0px;
}

.glyphicon-star, .glyphicon-star-empty {
  font-size: 130%;
  padding-right: 5px;
}

.star-text {
  font-weight: 500;
  font-size: 13px;
  padding-right: 5px;
  padding-left: 5px;
  margin: 0;
}

/* * * FOLLOW BUTTON * * */

.glyphicon-user, .glyphicon-plus {
  color: #00796B;
}

.glyphicon-user {
  font-size: 110%;
}
.not-following {
  background-color: #E0E0E0;
  color: #111;
}
.not-following:hover  {
  background-color: #B2DFDB;
}
.following {
  color: #eee;
  background-color: #26A69A;
}

.following >.glyphicon-user, .following >.glyphicon-plus {
  color: #fff;
}

.following-both {
  background-color: #9C27B0;
}

.emphasis {
  font-size: 13px;
  font-weight: 600;
}



/* * * * *
  SIDEBAR
* * * * */

.statBar {
    height: 25px;
    font-size: 12px;
    background-color: #cacaca;
    margin: 5px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    animation: loadStats cubic-bezier(0.25,0.5,0.5,1.25) 1s;
}

.statBar p {
    margin: -8px 5px 10px;
}

/* * * * *
  OTHER
* * * * */
.postForm {
  opacity: 1;
  animation: showPostForm ease 0.75s
}

.postForm-NoAnimate {
  opacity: 1
}

.postFormHidden {
  height: 0;
  opacity: 0;
  animation: hidePostForm ease 0.75s
}

@keyframes hidePostForm {
  from {
    height: 220px;
    opacity: 0.4;
  }
}

@keyframes showPostForm {
  from {
    height: 0px;
    opacity: 0;
  }
  to {
    height: 220px;
  }
}

@keyframes loadStats {
    from {
    	width: 0%;
      background-color: #428bca;
    }
    to {
    	width: 100%;
    }
}


.app-wrapper {
  padding-top: 70px;
  padding-left: 250px;
}


.sidebar-content {
  position: absolute;
  top: 0;
  width: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 10px;
}

.page-content-wrapper {
  padding-left: 15px;
  padding-right: 50px;
  position: relative;
}

.sidebar-wrapper {
    z-index: 1000;
    position: absolute;
    left: 250px;
    width: 200;
    height: 100%;
    margin-left: -200px;
    overflow-x: auto;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    /*background: #fefefe;*/
    /*border: 1px solid #e1e8ed;
    border-radius: 5px;*/
}

.feed {
  padding-right: 30px;
  padding-left: 30px;
  border-left: 1px solid #cecece;
  border-right: 1px solid #cecece;
}


/* ChatInput styles */
footer {
  color: white;
  position: fixed;
  padding: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 130px;
}

footer .input-field input,
button {
  border-color: #FFFFFF;
}

.collection {
 margin-bottom:130px;
 margin-top: -1px;
}

.message-date {
  color: #585858;
}

.chat-avatar {
  width: 30;
  height: 30;
  border-radius: 50%;
  margin: 10px;
}

.input-container {
  position: initial;
  padding-left: 250;
}

footer {
  padding: 20px;
  background: #455A64;
}

.glyphicon-send {
  color: #fff;
  font-size: 200%;
}

button.send-message {
  border-radius: 50%;
  background-color: #00897B;
  border-color: #00897B;
}

.detail {
  font-style: italic;
  /*display: flex;*/
}
